# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore distribution / packaging
build/
dist/
*.egg-info/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore git files
.git/
.gitignore

# Ignore temporary files
*.swp
*.bak
*.tmp

# Ignore logs
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

