version: 0.2

phases:
  pre_build:
    commands:
      - echo "Starting the build process..."
      - echo "Fetching..."
      - git fetch --all
      - echo "Checking out {{ branch_name }}..."
      - git checkout {{ branch_name }}
      - echo "Commit ID:"
      - git rev-parse HEAD
      - echo "Resetting..."
      - git reset --hard origin/{{ branch_name }}
  build:
    commands:
      - echo Build started on `date`
      - echo Building the Docker image...
      - docker build -t {{ ecr_repository_uri }}/{{ image_name }}:latest .
  post_build:
    commands:
      - echo Pushing the Docker image...
      - docker push {{ ecr_repository_uri }}/{{ image_name }}:latest
      - echo Build completed on `date`
