name: Docker Build on EC2 Instance

on:
  push:
    branches:
      - {{ branch_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH and Execute Build on EC2
        uses: appleboy/ssh-action@master
        with:
          command_timeout: "60m"
          host: {{ host }}
          username: {{ username }}  # Usually 'ubuntu' or 'ec2-user'
          {% raw %}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          {% endraw %}
          script: |
            source activate pytorch

            nvcc --version
            echo CUDA_HOME=$CUDA_HOME
            #export CUDA_HOME=/usr/local/cuda

            git clone https://github.com/{{ github_path }}
            cd {{ github_repo }}
            git checkout {{ branch_name }}
            ls -al

            # Login to AWS ECR
            $(aws ecr get-login --no-include-email --region {{ aws_region }})

            # Build the image
            sudo docker build -t {{ project_name }} .
            #sudo docker run -d -p 80:80 {{ project_name }}

            # Tag the image for the ECR repository
            docker tag {{ project_name }}:latest {{ ecr_repository_uri }}/{{ project_name }}:latest

            # Push the image to ECR
            docker push {{ ecr_repository_uri }}/{{ project_name }}:latest
